/* Responsive Web Grid */
* {
    box-sizing: border-box;
}
/* For mobile phones: */
.col-m-1 {width: 8.33%;}
.col-m-2 {width: 16.66%;}
.col-m-3 {width: 25%;}
.col-m-4 {width: 33.33%;}
.col-m-5 {width: 41.66%;}
.col-m-6 {width: 50%;}
.col-m-7 {width: 58.33%;}
.col-m-8 {width: 66.66%;}
.col-m-9 {width: 75%;}
.col-m-10 {width: 83.33%;}
.col-m-11 {width: 91.66%;}
.col-m-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}


/* Site wide styles */
body{
    background-color: #b3b3b3;
}

h2{
    text-align: center;
    font-size: 2em;
    font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    font-weight:bold;
}


/******* Header and Tabs ********/
header{
    background-color: gray;
    color:white;
}

header h1{
    text-align: left;
    font-size: 2em;
    padding-bottom:.1em;
    padding-top:1em;
    margin-bottom: 0;
    margin-top: .25em;
    font-family: 'Great Vibes', Helvetica, sans-serif;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}

#tabs{
    color: white;
    font-size: 1.5em;
    font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}

/* unvisited link */
#tabs a:link {
    color: white;
}

/* visited link */
#tabs a:visited {
    color: white;
}

/* mouse over link */
#tabs a:hover {
    color: white;
}

/* selected link */
#tabs a:active {
    color: white;
}

.tabs{
    padding:5px;
}

/********* Portfolio ************/
#projects div img{
    width:100%;
}

#popup {
    height:380px;
    width:340px;
    margin:0 auto;
    position:relative;
    z-index:10;
    display:none;
    border:5px solid #cccccc;
    border-radius:10px;
}

#cover{
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    z-index:5;
    width:100%;
    height:100%;
    display:none;
}


@media only screen and (min-width: 600px), only screen and (orientation: landscape){
    /* For tablets: */
    .col-t-1 {width: 8.33%;}
    .col-t-2 {width: 16.66%;}
    .col-t-3 {width: 25%;}
    .col-t-4 {width: 33.33%;}
    .col-t-5 {width: 41.66%;}
    .col-t-6 {width: 50%;}
    .col-t-7 {width: 58.33%;}
    .col-t-8 {width: 66.66%;}
    .col-t-9 {width: 75%;}
    .col-t-10 {width: 83.33%;}
    .col-t-11 {width: 91.66%;}
    .col-t-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    header h1{
        font-size: 4.5em;
        padding-bottom:.1em;
        padding-top:1em;
        margin-bottom: 0;
        margin-top: .25em;
    }
}